body
{
    padding: 0;
    margin: 0;
}

img
{
    max-width: 100%;
}

.pink
{
    color: #ee58b6;
}

.button
{
    font: 600 16px/1 Montserrat;
    background-color: #05090c;
    color: #fff;
    text-align: center;
    border-radius: 4.59px;
}

.button:hover
{
    cursor: pointer;
}

.header__btn-sign
{
    box-sizing: border-box;
    max-width: 249px;
    width: 249px;
    padding: 19px 40px;
    display: none;
}
.top__btn-sign
{
    padding: 19px 82.5px;
    box-sizing: border-box;
    max-width: 332px;
    margin-top: 48px;
}

.form__btn-sign
{
    box-sizing: border-box;
    padding: 21.5821px 40.4665px;
    max-width: 480px;
    margin-top: 35px;
}

.arguments__btn-sign
{
    box-sizing: border-box;
    padding: 21.5821px 40.4665px;
    max-width: 480px;
    margin: auto;
    margin-top: 50px;
}

.users__btn-get-data
{
    margin-top: 26px;
    margin-bottom: 29px;
    max-width: 372px;
    padding: 21.5821px 40.4665px;
    box-sizing: border-box;
}

.header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 112px;
    margin-left: 6.3vw;
    margin-right: 5.30vw;
}

.header__menu
{
    margin-right: 5.2vw;
    margin-left: auto;
    margin-top: 30px;
    flex-basis: 100%;
    text-align: center;
    padding-left: 30px;
}

.header__nav-link
{
    font: 500 16px/1 Montserrat;
    text-decoration: none;
    color: #000;
}

.header__inline-list
{
    padding: 0;
}

.header__list-item
{
    list-style-type: none;
    display: block;
    margin: 10px 0;
}

.top
{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.top__info
{
    flex-grow: 1;
}

.top__illustration
{
    flex-grow: 1;
    padding: 0;
    margin-top: 30px;
    margin-left: 2.57vw;
}

.top__title
{
    font: 600 100px/1 Montserrat;
    margin: 0;
}

.top__text
{
    font: 400 26px/1 "Roboto Condensed";
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-top: 34px;
    line-height: 1.14;
}

.top
{
    flex-wrap: wrap;
}

.top__illustration
{
    flex-basis: 100%;
}

.top__title, .top__text
{
    text-align: center;
}

.top__btn-sign
{
    margin: auto;
    margin-top: 30px;
}

.top__illustration
{
    max-width: 60vw;
}

.benefits
{
    margin-top: 58px;
    background-color: #000;
    padding: 20px;
    display: flex;
    padding-top: 111px;
    height: 267px;
    align-items: space-between;
    justify-content: center;
}

.benefits__first-item
{
    text-align: center;
    max-width: 285;
    width: 285;
    height: 145px;
    padding: 0;
    padding-top: 5px;
    margin-right: 5.89vw;
    margin-left: 15px;
}

.benefits__second-item
{
    text-align: center;
    padding: 0;
    max-width: 338px;
    width: 338px;
    height: 132px;
}

.benefits__third-item
{
    text-align: center;
    max-width: 293px;
    width: 293px;
    height: 132px;
    padding: 0;
    margin-left: 5.64vw;
}

.benefits__first-item__description
{
    font: 400 22px/1 "Roboto Condensed";
    color: #fff;
    line-height: 1.14;
}

.benefits__second-item__description
{
    font: 400 22px/1 "Roboto Condensed";
    color: #fff;
    line-height: 1.19;
    margin-top: 17px;
}

.benefits__third-item__description
{
    font: 400 22px/1 "Roboto Condensed";
    color: #fff;
    line-height: 1.19;
    margin-top: 17px;
    margin-left: -1px;
}

.benefits
{
    flex-wrap: wrap;
    height: 600px;
    flex-basis: 100%;
}

.benefits__first-item
{
    margin: 0 10vw;
}

.benefits__second-item
{
    margin: 0 10vw;
}

.benefits__third-item
{
    margin: 0 10vw;
}

.deadline__first__item
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3.48vw;
    padding-top: 2px;
}

.deadline__first__item__image
{
    width: 28.26vw;
    padding-top: 4px;
    padding-right: 53px;
}

.deadline__first__item__text
{
    margin-left: 50px;
    max-width: 650px;
    padding: 0;
}

.deadline__first__item__text__title
{
    font: normal 500 48px/1 Montserrat;
    margin-bottom: 32px;
    padding: 0;
}

.deadline__first__item__text__description
{
    font: normal 400 18px/1 "Roboto Condensed";
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0;
    line-height: 24.3px;
}

.deadline__second__item
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
}

.deadline__second__item__image
{
    width: 27vw;
    margin-top: 44px;
    margin-left: 80px;
}

.deadline__second__item__text
{
    max-width: 635px;
    padding: 0;
}

.deadline__second__item__text__title
{
    font: normal 500 48px/1 Montserrat;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

.deadline__second__item__text__description
{
    font: normal 400 18px/1 "Roboto Condensed";
    color: rgba(0, 0, 0, 0.7);
    margin-top: 32px;
    line-height: 24.3px;
}

.deadline__first__item 
{
    flex-wrap: wrap;
}

.deadline__first__item__text 
{
    flex-basis: 100%;
    text-align: center;
    margin: 0;
}

.deadline__first__item__image
{
    width: 40vw;
    text-align: center;
    margin-left: 50px;
}

.deadline__second__item 
{
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 40px;
}

.deadline__second__item__text 
{
    flex-basis: 100%;
    text-align: center;
    margin: 0;
    order: 1;
}

.deadline__second__item__image
{
    width: 40vw;
    text-align: center;
    margin-right: 70px;
}

.arguments
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 49px;
    padding: 0;
    justify-content: center;
}

.arguments__item
{
    background-color: #000;
    
    box-sizing: border-box;
    max-width: 358px;
    width: 358px;
    height: 191px;
    flex-grow: 1;
    
    margin: 15px 15px;
    color: #fff;
    border-radius: 7.36px;
    padding: 32.36px 0;
    padding-left: 39.35px;
    padding-right: 35px;
}

.arguments-title
{
    font: normal 500 48px/1 Montserrat;
    text-align: center;
    margin-left: 14px;
    margin-top: 107px;
}

.arguments__item__description
{
    font: 400 18px/1 "Roboto Condensed";
    line-height: 1.17;
}

.sign
{
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 0 80px;
    padding-bottom: 92px;
    padding-top: 30px;
    margin-top: 20px;
    border-radius: 12px;
}

.sign__close-img
{
    position: relative;
    top: -10px;
    left: 545px;
}

.sign__close-img:hover
{
    cursor: pointer;
}


.sign__image
{
    display: block;
    margin: auto;
}

.sign__title
{
    font: normal 500 26px/1 Montserrat;
    margin-bottom: 13px;
    text-align: center;
}

.sign__form-input
{
    display: block;
    margin-top: 20px;
    padding: 21.5821px 26.9776px 21.5821px 28px;
    width: 480px;
    height: 64px;
    background: #FFFFFF;
    border: 1.34888px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 4px;
    font: normal 500 18px/1 Montserrat;
    color: #999;
}

.sign__form-input::placeholder
{
    color: #999;
}

.select
{
    background: #fff;
    border: 1.34888px solid #c0c0c0;
    padding: 21.5821px 26.9776px 21.5821px 28px;
    box-sizing: border-box;
    border-radius: 4px;
    appearance: none;
    background: url("../images/arrow.svg") no-repeat right;
    font: normal 500 18px/1 Montserrat;
    outline: 0;
    overflow: hidden;
    color: #999;
    height: 64px;
    width: 480px;
    background-position-x: 430px;
}

.sign__form-select
{   
    margin-top: 20px;
}

.select__option
{
    height: 53.96px;
    background-color: #fff;
    font: normal 500 18px/1 Montserrat;
}

.select__option:active
{
    background-color: #f1f1f1;
    background: url("../images/selected.svg") no-repeat right;
}

.sign__form-checkbox
{
    margin: 0;
    margin-top: 35px;
    box-sizing: border-box;
    border-radius: 4px;
}

.sign__form-checkbox-desc
{
    display: inline;
    font: 400 16px/1 "Roboto Condensed";
    color: rgba(0, 0, 0, 0.7);
}

.footer
{
    margin-top: 100px;
    background-color: #000;
    height: 108px;
    display: flex;
    align-items: center;
}

.footer__image
{
    margin: auto;
    padding-left: 15px;
}

.users
{
    margin-left: 111px;
    font: 500 22px/22px "Montserrat";
    margin-bottom: 50px;
}

.users__userdata
{
    max-width: 372px;
    min-height: 300px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #000;
    color: #fff;
    font: 500 18px/30px "Montserrat";
    padding: 48px 31px;
    margin-top: 69px;
    margin-right: 74px;
    display: inline-block;
    word-wrap: break-word;
}

.userdata-input
{
    display: inline-block;
    width: 480px;
    margin-left: 53px;
    margin-top: 52px;
}

.userdata-text
{
    font: 400 18px/1 "Roboto Condensed";
    margin-left: 59px;
    margin-top: 68px;
    list-style: none;
}

.invisible
{
    display: none;
}

.pop-up
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.input-error
{
    outline: none;
    border-color: #ee5858;
    border-width: 2px;
}

.popup-error-desc
{
    margin-top: 300px;
    margin-bottom: 402px;
    font: 500 36px/1 "Montserrat";
}

@media screen and (min-width: 600px)
{
    .header__list-item
    {
        display: inline;
        margin-left: 4.3vw;
    }

    .arguments
    {
        margin-left: 10.5vw;
        margin-right: 9.71vw;
    }

    .footer
    {
        margin-top: 150px;
    }
}

@media screen and (min-width: 1130px)
{
    .header
    {
        flex-wrap: unset;
    }
    
    .header__menu
    {
        flex-basis: 0%;
        text-align: right;
    }
    
    .header__inline-list
    {
        width: 41vw;
    }
    
    .header__btn-sign
    {
        display: block;
    }

    .benefits
    {
        height: 268px;
        display: flex;
        justify-content: center;
        align-items: space-between;
        flex-wrap: nowrap;
    }
    
    .benefits__first-item
    {
        text-align: center;
        max-width: 285;
        width: 285;
        height: 145px;
        padding: 0;
        padding-top: 5px;
        margin-right: 5.89vw;
        margin-left: 11vw;
    }

    .benefits__second-item
    {
        text-align: center;
        padding: 0;
        max-width: 338px;
        width: 338px;
        height: 132px;
        margin: 0;
    }

    .benefits__third-item
    {
        text-align: center;
        max-width: 293px;
        width: 293px;
        height: 132px;
        padding: 0;
        margin-left: 5.64vw;
    }

    .benefits__first-item__description
    {
        font: 400 22px/1 "Roboto Condensed";
        color: #fff;
        line-height: 1.14;
    }

    .benefits__second-item__description
    {
        font: 400 22px/1 "Roboto Condensed";
        color: #fff;
        line-height: 1.19;
        margin-top: 17px;
    }

    .benefits__third-item__description
    {
        font: 400 22px/1 "Roboto Condensed";
        color: #fff;
        line-height: 1.19;
        margin-top: 17px;
        margin-left: -1px;
    }
    
    .deadline__first__item 
    {
        flex-wrap: nowrap;
        margin-left: 0px;
        margin-top: 70px;
    }
    
    .deadline__first__item__text 
    {
        flex-basis: auto;
        text-align: left;
        margin-right: 15.5vw;
        padding: 0;
        margin-top: 86px;
    }
    
    .deadline__first__item__image
    {
        display: flex;
        align-items: center;
        flex-basis: auto;
        width: 40vw;
        text-align: left;
        margin-left: 19.2vw;
    }
    
    .deadline__second__item 
    {
        flex-wrap: nowrap;
        margin-top: 0px;
        flex-direction: row;
    }
    
    .deadline__second__item__text 
    {
        text-align: left;
        margin-left: 19vw;
        margin-right: 0;
        margin-top: 20px;
        order: 0;
    }
    
    .deadline__second__item__image
    {
        width: 40vw;
        text-align: left;
        margin-left: 0px;
        margin-right: 15.8vw;
    }
    
    .top
    {
        margin-top: 44px;
        margin-left: 9.34vw;
        margin-right: 8.5vw;
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        justify-content: left;
        align-items: left;
        text-align: left;
    }

    .top__info
    {
        flex-grow: 1;
        margin-top: 52px;
    }

    .top__illustration
    {
        flex-basis: 48%;
        flex-grow: 1;
        padding: 0;
        margin-top: 30px;
        margin-left: 2vw;
    }

    .top__title
    {
        font: 600 100px/1 Montserrat;
        margin: 0;
        text-align: left;
        margin-top: 0px;
    }

    .top__text
    {
        font: 400 26px/1 "Roboto Condensed";
        color: rgba(0, 0, 0, 0.7);
        margin: 0;
        margin-top: 30px;
        line-height: 1.21;
        text-align: left;
    }
    
    .top__btn-sign
    {
        margin: 45px 0;
    }
    
    .arguments-title
    {
        margin-top: 101px;
    }

    .header__menu
    {
        margin-top: 4px;
    }
}
