.filtersPage {
    min-width: 320px;
    max-width: 480px;
    width: 100%;
    min-height: 100vh;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
}

.filtersPage__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content__header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__button {
        flex: 0 0 auto;
    }

    .header__tittle {
        flex-grow: 1;
        text-align: center;
        padding-right: 16px;

        .header__text {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #373435;
        }
    }
}