.stationCard{
    border-radius: 8px;
    border-width: 1px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: #FFFFFF;
    gap: 12px;
}

.stationCard_disabled {
    opacity: 0.5;
    cursor: default;
}

.stationCard__header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__icon{
    border-radius: 20px;

    width: 24px;
    height: 24px;
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 4px 0px #02272B33;

    background: #27AE60;
    img {
        width: 14px;
        height: 14px;
    }
}

.header__content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content__stationInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stationInfo__text1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    color: #373435;
}

.stationInfo__text2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    margin: 0;
    color: #8E949F;
}

.content__path{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.path__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    img {
        width: 24px;
        height: 24px;
    }
}

.path__text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    text-align: right;
    color: #8E949F;
    margin: 0;
    white-space: nowrap;
}

.stationCard__body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body__connectorsList {
    display: flex;
    flex-grow: 1;
}

.connectorsList {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 1;
}

.connectorsList__connector {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.connector__wrap {
    display: flex;
    flex-direction: row;
}

.connector__icon {
    display: flex;

    img {
        width: 24px;
        height: 26px;
        margin-right: 8px;
    }
}

.connector__content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    width: 100%;
    min-width: 180px;
}

.content__firstColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
    .firstColumn__text1 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        margin: 0;
        color: #373435;
        word-wrap: break-word;
    }
    
    .firstColumn__text2 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 8px;
        line-height: 9px;
        margin: 0;
        color: #373435;
        word-wrap: break-word;
    }
}

.content__secondColumn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.secondColumn__veticalSplit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    margin-right: 10px;
}

.rectangleV {
    width: 1px;
    height: 22px;
    border-radius: 3px;
    background: #E8E8EE;
}

.secondColumn__status {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
}

.connector__horizontalSplit {
    display: flex;
}

.rectangleH {
    width: 95%;
    height: 1px;
    border-radius: 3px;
    background: #E8E8EE;
}

.body__rating {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 0.5;
}

.rating__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    img {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }

    .content__text {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #373435;
        line-height: 14px;
        margin: 0;
    }
}