.resetButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.resetButton_active {
    color: #373435;
}

.resetButton_disabled {
    color: #C8CED8;
    cursor: default;
}