$transition-duration: 0.3s;

.resetButton {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 8px;
	background: none;
	border: none;
	cursor: pointer;
	-webkit-transition: $transition-duration;
	-o-transition: $transition-duration;
	transition: $transition-duration;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.resetButton__icon {
	-webkit-transition: -webkit-filter $transition-duration;
	transition: -webkit-filter $transition-duration;
	-o-transition: filter $transition-duration;
	transition: filter $transition-duration;
	transition: filter $transition-duration, -webkit-filter $transition-duration;
}

.resetButton_active {
	color: #373435;
}

.resetButton_disabled {
	color: #c8ced8;
	cursor: default;

	.resetButton__icon {
		-webkit-filter: brightness(0) saturate(100%) invert(81%) sepia(5%)
			saturate(381%) hue-rotate(179deg) brightness(103%) contrast(90%);
		filter: brightness(0) saturate(100%) invert(81%) sepia(5%) saturate(381%)
			hue-rotate(179deg) brightness(103%) contrast(90%);
	}
}
