.stationFilters{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.stationFilters__onlyAvailable{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .onlyAvailable__text{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #373435;
    }
}

.stationFilters__minimalPower{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;

    .minimalPower__text{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #373435;
    }
}

.stationFilters__connectors{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .connectors__tittle{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;

        .tittle__text{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #373435;
        }
    }
}

.connectors__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.connectors__listWithTwoElements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.stationFilters__footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}