.stationFilters{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.minimalPowerBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.minimalPowerBlockText{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #373435;
}

.connectorsBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.connectorsBlockTittle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.connectorsBlockText{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #373435;
}

.connectorsList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.connectorsListWithTwoElements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.stationFiltersFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resetButton{

}