.marker,
.groupMarker {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 100%;
	border: 1px solid #ffffff;
	-webkit-box-shadow: 0px 2px 4px 0px #02272b33;
	box-shadow: 0px 2px 4px 0px #02272b33;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.marker {
	width: 36px;
	height: 36px;
}

.groupMarker {
	width: 40px;
	height: 40px;
	background-color: #05a6be;
	border-width: 3px;
}

.marker:hover {
	cursor: pointer;
}

.groupMarker:hover {
	cursor: pointer;
	background-color: #0f8fa2;
}

.green {
	background-color: #27ae60;
}

.green:hover {
	background-color: #27ae60;
}

.orange {
	background-color: #f89520;
}

.orange:hover {
	background-color: #f89520;
}

.grey {
	background-color: #8e949f;
}

.grey:hover {
	background-color: #8e949f;
}

.groupMarker__counter {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 16.8px;
	color: #fff;
}
