.block {
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2px 10px 0px #02272b1a;
	background-color: #fff;
	border-radius: 16px;
	overflow: hidden;
	width: 300px;
}

.block__header {
	background: linear-gradient(90deg, #05a6be 0%, #d5faff 100%);
	width: 100%;
	padding: 8px 16px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__button {
	width: 32px;
}

.header__text {
	font-size: 14px;
	font-weight: 600;
	line-height: 16.8px;
	color: #fff;
	text-shadow: 0.1px 0.1px 0.8px #000;
}

.block__content {
	padding: 8px;
	box-sizing: border-box;
}
