.header,
.footer {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
}

.header {
	top: 0;
	padding: 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	gap: 10px;
}

.header__activeSession {
	position: absolute;
	top: 68px;
	right: 8px;
}

.footer {
	bottom: 0;
}
