.sessionFilters {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-grow: 1;
}

.sessionFilters__onlyPaid {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.onlyPaid__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #373435;
	margin: 0;
}

.sessionFilters__minimalDuration {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	flex-grow: 0;
}

.minimalDuration__text,
.tittle__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #373435;
}

.sessionFilters__connectors {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-grow: 0;
}

.connectors__tittle {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.connectors__row,
.connectors__lastRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.connectors__row {
	justify-content: space-between;
}

.connectors__lastRow {
	justify-content: space-around;
}

.sessionFilters__footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	margin-top: 8px;
}

.popUp__snackBar {
	background-color: #fff !important;
}
