$transition-duration: 0.8s;

.notify {
	button {
		width: 50px !important;
		height: 50px !important;
	}

	img {
		width: 30px !important;
		height: 30px !important;
	}
}

.notify__blinkingCircle {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 8px;
	background: #f63255;
	border-radius: 100%;
	aspect-ratio: 1/1;
	-webkit-animation: blink $transition-duration infinite ease-in-out alternate;
	animation: blink $transition-duration infinite ease-in-out alternate;
}

@-webkit-keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
