.photos {
    position: relative;
    border-radius: 16px;
    border: 1px solid rgba(232, 232, 238, 1);

    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;

    overflow: hidden !important;
}

.photos__infoBar {
    position: absolute;
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.infoBar__substrate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    overflow: hidden;
    
    height: fit-content;
    border-bottom-right-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.substrate__customStatus {
    position: relative;
    border-radius: 0 !important;
}

.infoBar__customRating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-radius: 12px;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 14.4px;
    background: rgb(255, 255, 255);
    gap: 4px;   
    max-height: 25px;

    padding: 4px 12px 4px 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.customRating__text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #373435;    
    line-height: 14.4px;
}