$transition-duration: 0.3s;

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-sizing: border-box;
	white-space: nowrap;
	background: none;
	outline: none;
	border: none;
	background-color: #17c3b9;
	color: #fff;
	border-radius: 100%;
	aspect-ratio: 1/1;
	transition: $transition-duration;

	&:hover {
		background-color: #13a69d;
	}
}

.standard,
.arrow {
	img {
		width: 18px;
		height: 18px;
		filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
			saturate(0%) hue-rotate(323deg) brightness(102%) contrast(101%);
	}
}

.standard {
	padding: 1px;
}

.arrow {
	padding: 8px 6px;
}

.disabled {
	user-select: none;
	pointer-events: none;
	background-color: #f7f7f7 !important;
	color: #c8ced8 !important;

	img {
		filter: brightness(0) saturate(100%) invert(84%) sepia(4%)
			saturate(471%) hue-rotate(179deg) brightness(103%) contrast(83%) !important;
	}
}
