.sessionCard {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	background: #ffffff;
	gap: 8px;
}

.sessionCard__header {
	display: flex;
	flex-direction: row;
}

.header__content {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.content__connector {
	display: flex;
	margin-right: 16px;
}

.content__station {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.station__mainInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mainInfo__texts {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.texts__name {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 120%;
	vertical-align: middle;
	color: #373435;
	margin: 0;
}

.texts__address {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 8px;
	line-height: 120%;
	margin: 0;
	vertical-align: middle;
	color: #8e949f;
}

.station__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}
