.sessionCard {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	background: #ffffff;
	gap: 8px;
}

.sessionCard__header {
	display: flex;
	flex-direction: row;
}

.header__content {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.content__connector {
	display: flex;
	margin-right: 16px;
}

.content__station {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.station__mainInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mainInfo__texts {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.texts__name {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 120%;
	vertical-align: middle;
	color: #373435;
	margin: 0;
}

.texts__address {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 8px;
	line-height: 120%;
	margin: 0;
	vertical-align: middle;
	color: #8e949f;
}

.station__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.horizontalSplit {
	width: 100%;
	height: 1px;
	border-radius: 3px;
	background: #e8e8ee;
}

.sessionCard__chargingInfo {
	display: flex;
	flex-direction: row;
}

.chargingInfo__icon {
	display: flex;
	margin-right: 5px;
	img {
		width: 22px;
		height: 16px;
	}
}

.chargingInfo__texts {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.texts__row {
	display: flex;
	flex-direction: row;
}

.row__label {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 10px;
	line-height: 120%;
	vertical-align: middle;
	color: #373435;
	margin: 0;
	margin-right: 4px;
}

.row__value {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 10px;
	line-height: 120%;
	vertical-align: middle;
	margin: 0;
	color: #05a6be;
}

.sessionCard__session {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.session__icon {
	display: flex;
	margin-right: 5px;
	img {
		width: 20px;
		height: 20px;
	}
}

.session__times {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.times__start,
.times__duration,
.texts__amount,
.texts__paymentMethod {
	display: flex;
	flex-direction: row;
}

.times__duration {
	margin-right: 20px;
}

.sessionCard__payment {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.payment__icon {
	display: flex;
	margin-right: 5px;
	img {
		width: 21px;
		height: 15px;
	}
}

.payment__texts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.texts__paymentMethod {
	margin-right: 20px;
}
