.status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background: none;
	outline: none;
	border: none;

	width: -webkit-fit-content;

	width: -moz-fit-content;

	width: fit-content;
	padding: 4px 12px;
	border-radius: 12px;
}

.green {
	background-color: rgba(39, 174, 96, 0.1);
	color: rgba(39, 174, 96, 1);
}

.orange {
	background-color: rgba(248, 149, 32, 0.1);
	color: rgba(248, 149, 32, 1);
}

.red {
	background-color: rgba(246, 50, 85, 1);
	color: rgba(255, 255, 255, 1);
}

.grey {
	background-color: rgba(142, 148, 159, 0.1);
	color: rgba(142, 148, 159, 1);
}

.text {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
}
