.stationsPage {
    min-width: 320px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
}

.stationsPage__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header__content {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__tittle {
    text-align: center;
}

.content__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #373435;
}

.stationsPage__stationList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ContentBlocHover {
    border: 1px solid transparent;
    transition: border 0.3s;

    &:hover {
        border: 1px solid #8E949F;
    }
}