.page__content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex-grow: 1;
	
}

.content__header {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__button {
	flex: 0 0 auto;
}

.header__tittle {
	flex-grow: 1;
	text-align: center;
	padding-right: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #373435;
}