.page__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 185px;
}

.header__button {
  flex: none;
}

.header__tittle {
  flex-grow: 1;
  text-align: center;
  padding-right: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #373435;
}

.content__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 120px;
  width: 100%;
}

.info__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #373435;
  margin-bottom: 4px;
  text-align: center;
  overflow-wrap: break-word;
  hyphens: auto;
}

@media (max-width: 320px) {
  .info__title {
    max-width: 280px;
  }
}

.info__icon {
  width: 40px;
  height: 40px;
  margin-bottom: 4px;
}

.info__text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #8e949f;
  text-align: center;
  width: 100%;
}

.info__text_paymentMethod {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #05a6be;
  margin: 0;
}

.content__actionButton {
  margin-top: auto;
  margin-bottom: 50px;
}
