$animationSpeed: 0.5s;

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 4px 10px 0px #02272b1a;
  transform: translateY(100%);
  transition: transform $animationSpeed ease;
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

.popup.active {
  transform: translateY(0);
  opacity: 1;
}

.popup__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px 8px 16px 8px;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content__topLine {
  margin-bottom: 16px;
  width: 20%;
  height: 3px;
  background-color: #c8ced8;
}
