$animationSpeed: 0.5s;

.popup {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	border-radius: 16px 16px 0 0;
	-webkit-box-shadow: 0px 4px 10px 0px #02272b1a;
	box-shadow: 0px 4px 10px 0px #02272b1a;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform $animationSpeed ease;
	transition: -webkit-transform $animationSpeed ease;
	-o-transition: transform $animationSpeed ease;
	transition: transform $animationSpeed ease;
	transition: transform $animationSpeed ease,
		-webkit-transform $animationSpeed ease;
	min-height: 180px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.popup.active {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.popup__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 8px 8px 16px 8px;
	width: 100%;
}

.contentWrapper {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.contentContainer {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.content__topLine {
	margin-bottom: 16px;
	width: 20%;
	height: 3px;
	background-color: #c8ced8;
}
