.block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.block__title {
    font-family: Roboto;
    font-weight: 500;
    color: #373435;
    font-size: 16px;
    line-height: 19.2px;    
}

.block__chart {
    display: flex;
    width: 100%;
}

.chart {
    background-color: #fff;
    width: 100%;
}

.chart__text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;

}