.coordinates {
	border-radius: 20px;
	background-color: #fff;
	padding: 4px 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 8px;
}

.coordinates__text {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.4px;
	color: #8e949f;
}
