.carousel {
    margin: 0px;
    position: relative;
    width: 100%;
    max-height: 304px;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;

}

:global(.react-multi-carousel-list) {
    display: flex !important;
    position: relative !important;
    align-items: normal !important;
    width: 100% !important;
}

:global(.react-multi-carousel-item) {
    width: 100% !important;
    flex: 0 0 100% !important;
}

.carousel_item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    overflow: hidden; 
}
  
.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

:global(.react-multiple-carousel__arrow) {
    display: flex !important;
    top: 45%;
    align-items: center !important;
    justify-content: center !important;
    width: 32px !important;
    height: 32px !important;
    background-color: #F7F7F7 !important;
    border-radius: 50% !important;
    border: none !important;
    cursor: pointer !important;
    outline: none !important;
    opacity: 1 !important;
}

:global(.react-multiple-carousel__arrow--left) {
    left: 10px !important;
}

:global(.react-multiple-carousel__arrow--right) {
    right: 10px !important;
}

:global(.react-multiple-carousel__arrow::before) {
    color: black !important;
    font-size: 16px !important;
    background-color: #F7F7F7 !important;
}

:global(.react-multi-carousel-dot-list) {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 5px !important;
    pointer-events: none !important;
}

:global(.react-multi-carousel-dot button) {
    pointer-events: none !important;
    border: none !important;
    cursor: default !important;
    margin-bottom: 10px !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    border: 0.5px solid rgba(200, 206, 216, 1) !important;
    background-color: #FFF !important;
    transition: all 0.3s ease !important;

    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.15) !important;
}

:global(.react-multi-carousel-dot--active button) {
    width: 14px !important;
    height: 14px !important;
    background-color: black !important;
    border: 1px solid rgba(200, 206, 216, 1) !important;
}

