.search {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.search__input {
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
	padding-left: 36px;
	border: none;
	color: #373435;
	overflow: hidden;
	height: 50px;
	font-family: 'Roboto', sans-serif;
	line-height: 120%;
	font-size: 14px;
	transition: 0.3s;
}

.search__input_outlined {
	outline: 1px solid #e8e8ee;
	border-radius: 8px;
}

.search__input_shadow {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	outline: none;
}

.search__input_outlined:hover {
	outline-color: #017598;
}

.search__input_shadow:hover {
	background-color: #e6f2f5;
}

.search__input_disabled {
	outline-color: #e8e8ee !important;
}

.search__icon {
	position: absolute;
	pointer-events: none;
	left: 8px;
	filter: brightness(0) saturate(100%) invert(63%) sepia(9%) saturate(346%)
		hue-rotate(180deg) brightness(92%) contrast(86%);
}
