.connectorsList__connector {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.connector__wrap {
    display: flex;
    flex-direction: row;
}

.connector__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 24px;
        height: 26px;
        margin-right: 8px;
    }
}

.connector__content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    width: 100%;
    min-width: 180px;
}

.content__firstColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.firstColumn__text1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    color: #373435;
}

.firstColumn__text2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    margin: 0;
    color: #373435;
}

.content__secondColumn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.secondColumn__veticalSplit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    margin-right: 10px;
}

.rectangleV,
.rectangleH {
    border-radius: 3px;
    background: #E8E8EE;
}

.rectangleV {
    width: 1px;
    height: 22px;
}

.rectangleH {
    width: 95%;
    height: 1px;
}

.secondColumn__status {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
}

.connector__horizontalSplit {
    display: flex;
}