.listLayout__list {
	width: 100%;
	height: 500px;
	overflow-y: auto;
	margin-right: 8px;
	margin-bottom: 43px;
}

.list__item {
	margin-bottom: 12px;
}

.listLayout__blockButton {
	position: absolute;
	bottom: 16px;
	right: 8px;
}

.list_noSelection {
	user-select: none;
}
