.card {
	padding: 10px 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 16px;
	border: 1.5px solid #c8ced8;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;

	&:hover {
		border-color: #8e949f;
	}
}

.card_enabled {
	border-color: #27ae60 !important;
	background-color: rgb(39, 174, 96, 0.1);
}

.card_disabled {
	opacity: 0.5;
	cursor: default;
}

.card__content {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 4px;
}

.content__icon {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 10px;

	img {
		width: 75px;
		height: 75px;
	}
}

.content__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #373435;
	text-align: center;
}
