.stationProfile__header {
	display: flex;
	align-items: center;
	padding-top: 10.5px;
	padding-bottom: 10.5px;
	margin-top: 32px;
	margin-bottom: 12px;
}

.stationProfile__address {
	margin: 0 8px 16px 8px;
}

.addressBox__description {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.addressBox__description_text {
	margin: 0;
}

.addressBox__distanceBox {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.stationProfile__description {
	margin: 0 8px;
	position: relative;
}

.line_separator {
	margin: 16px 8px;
	height: 1px;
	background-color: #e8e8ee;
	border-radius: 50%;
}

.stationProfile__dailyOccupation,
.stationProfile__support {
	margin: 0 8px;
}

.text_title {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #373435;
}

.text_subTitle {
	margin-bottom: 6px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #373435;
}

.text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: #373435;
	overflow: hidden;
}

.description__footer {
	display: flex;
	justify-content: end;
	align-items: center;
	margin: 4px 8px 8px 8px;
}

.text.collapsed {
	max-height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text.expanded {
	max-height: none;
}

.expandButton {
	display: flex;
	align-items: center;
	gap: 2px;
	border: none;
	outline: none;
	background-color: #fff;
	cursor: pointer;
}

.expandButton_text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	color: #373435;
}

.text_distance {
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 8px;
	line-height: 120%;
	color: #8e949f;
}

.stationProfile__connectors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 14px;
	padding: 0 8px;
}

.stationProfile__support {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
