$transition-duration: 0.3s;

.switch {
    width: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    border-radius: 11px;
    cursor: pointer;
    transition: background $transition-duration;

    &.on {
        background: #17c3b9;

        &:hover {
            background: #13a69d;
        }

        .switch__toggle {
            transform: translateX(100%);
        }
    }

    &.off {
        background: #8e949f;

        &:hover {
            background: #767d8a;
        }

        .switch__toggle {
            transform: translateX(0);
        }
    }

    &.disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.switch__toggle {
    height: 18px;
    aspect-ratio: 1;
    border-radius: 100%;
    background: #ffffff;
    transition: transform $transition-duration ease-in-out;
}
