.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.container__input {
	position: relative;
}

.container__input input {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px;
	border-radius: 8px;
	border: none;
	outline: 1px solid #e8e8ee;
	color: #373435;
	height: 50px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	line-height: 120%;
	padding-top: 24px;
	font-size: 14px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.container__input label {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: #8e949f;
	font-size: 14px;
	left: 8px;
	top: 25px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.container__input input:focus,
.container__input input:hover {
	outline: 1px solid #017598;
}

.container__input input:not(:-moz-placeholder-shown) + label {
	font-size: 12px;
	top: 13px;
}

.container__input input:not(:-ms-input-placeholder) + label {
	font-size: 12px;
	top: 13px;
}

.container__input input:focus + label,
.container__input input:not(:placeholder-shown) + label {
	font-size: 12px;
	top: 13px;
}

.container__input input:focus + label {
	color: #017598;
}

.container__input input:disabled {
	background-color: #f7f7f7;
	outline: 1px solid #e8e8ee !important;
}

.input__required {
	color: #f63255;
}

.container__input_error {
	outline: 1px solid #f63255 !important;
}

.container__error {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 0;
	color: #f63255;
}
