.gradientButton {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
	background: none;
	outline: none;
	border: none;
	width: 100%;

	padding: 8px 12px;
	border-radius: 8px;
}

.gradientButton:hover {
	.button__arrowIcon {
		background: #f89520;
	}
}

.orange {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#f89520),
		to(#ffffff)
	);
	background: -o-linear-gradient(left, #f89520 0%, #ffffff 100%);
	background: linear-gradient(90deg, #f89520 0%, #ffffff 100%);
}

.button__alert {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.alert__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	margin-right: 6px;
	img {
		width: 24px;
		height: 24px;
	}
}

.alert__message {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.message__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	color: #373435;
	margin: 0;
}

.button__arrowIcon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 100%;
	background-color: #373435;
	aspect-ratio: 1/1;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;

	img {
		width: 16px;
		height: 16px;
	}
}
