.gradientButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	box-sizing: border-box;
	white-space: nowrap;
	background: none;
	outline: none;
	border: none;
	width: 100%;

	padding: 8px 12px;
	border-radius: 8px;
}

.gradientButton:hover {
	.button__arrowIcon {
		background: #f89520;
	}
}

.orange {
	background: linear-gradient(90deg, #f89520 0%, #ffffff 100%);
}

.button__alert {
	display: flex;
	flex-direction: row;
}

.alert__icon {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 6px;
	img {
		width: 24px;
		height: 24px;
	}
}

.alert__message {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.message__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	color: #373435;
	margin: 0;
}

.button__arrowIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: #373435;
	aspect-ratio: 1/1;
	transition: background-color 0.3s;

	img {
		width: 16px;
		height: 16px;
	}
}
