.contentBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contentBlock__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    color: #373435;
    margin: 0px;
}

.contentBlock__content {
    display: flex;
    padding: 8px;
    gap: 8px;
    flex-direction: row;
    width: 100%;
}

.content__items {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.content__icon {
    width: 24px;
    height: 24px;
}

.items__item {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #373435;
    margin: 0px;
}

.items__item_color {
    color: #05A6BE;
}