.contentBlock {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 6px;
}

.contentBlock__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #373435;
	margin: 0px;
}

.contentBlock__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px;
	gap: 8px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
}

.content__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	row-gap: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.content__icon {
	width: 24px;
	height: 24px;
}

.items__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 4px;
	width: 50%;
}

.item__text,
.item__text_color {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #373435;
	margin: 0px;
}

.item__text_color {
	color: #05a6be;
}

@media (max-width: 430px) {
	.items__item {
		width: 100%;
	}
}
