.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.info__section {
    width: 304px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #02272B1A;
}

.connectorSection {
    height: 92px;
}

.connectorSection__connectorImgBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connectorImgBlock__img {
    width: 60px;
    height: 60px;
}

.connectorImg__label {
    width: 25px;
    height: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0%;    
}

.connectorBlock__details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.details__connector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.connector__connectorTextBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connectorTextBlock__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.4px;
    color: #373435;    
}

.connectorTextBlock__subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 8px;
    line-height: 9.6px;
    color: #8E949F;        
}

.details__tariffs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tariffs__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 4px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #373435;
}

.tariffs__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #05A6BE;
}

.info__sectionWrapper {
    width: 304px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectionWrapper__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    color: #373435;

}

.section__content {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.content__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #373435;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content__text_width {
    width: 130px;
}

.content__text_color {
    color: #05A6BE;
}

.content_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section_flexWrap {
    flex-wrap: wrap;
}