.returnButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 100%;

	img {
		width: 24px;
		height: 24px;
	}
}

.returnButton_disabled {
	pointer-events: none;
	opacity: 0.5;
}
